<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-指令-案例</title>
    <script src="js/vue.js"></script>
</head>
<body>

    <div id="app">
        <table border="1" cellspacing="0" width="60%">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>成绩</th>
                <th>等级</th>
            </tr>

            <tr align="center" v-for="(user, index) in users">
                <td>{{index + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>
                    <span v-if="user.gender==1">男</span>
                    <span v-if="user.gender==2">女</span>
                </td>
                <td>{{user.grade}}</td>
                <td>
                    <span v-if="user.grade >= 85">优秀</span>
                    <span v-else-if="user.grade >= 60">及格</span>
                    <span style="color:red;" v-else>不及格</span>
                </td>
            </tr>

        </table>
    </div>
</body>

<script>
    new Vue({
        el: "#app",
        data:{
            users: [
                {
                    name: "小张",
                    age: 18,
                    gender: 1,
                    grade: 90
                },
                {
                    name: "小王",
                    age: 20,
                    gender: 2,
                    grade: 70
                },
                {
                    name: "小李",
                    age: 20,
                    gender: 2,
                    grade: 40
                }
            ]
        }
    })
</script>
</html>